.button {
  background-color: rgb(80, 60, 209);
  border: none;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  outline: none;
}

button:hover {
  background-color: #3D2BB8;
}

.equal {
  background-color: #f33d1d;
  grid-column: 3 / 5;
}

.equal:hover {
  background-color: #E4270F;
}