.screen {
  align-items: flex-end;
  background-color: #4357692d;
  border-radius: 10px;
  box-sizing: border-box;
  color: white;
  display: flex;
  font-weight: bold;
  font-size: 66px;
  height: 100px;
  justify-content: flex-end;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 0 10px;
  position: relative;
  width: 100%;
}

.screen-add {
  align-items: start;
  color: rgba(255, 255, 255, 0.3);
  font-size: 20px;
  top: 5px;
  position: absolute;
  white-space: nowrap;
}